<div class="container mt-4">

  <div class="row">

    <!-- Skeleton Loader -->

    <ng-container *ngIf="loading">

      <div
        class="col-md-3 mb-4"
        *ngFor="let item of [1,2,3,4,5,6,7,8]">

        <div class="card p-3 shadow">

          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="{
              height:'200px',
              width:'100%'
            }">
          </ngx-skeleton-loader>

          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="{
              height:'20px',
              marginTop:'15px'
            }">
          </ngx-skeleton-loader>

          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="{
              height:'20px',
              width:'50%'
            }">
          </ngx-skeleton-loader>

          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="{
              height:'40px',
              marginTop:'15px'
            }">
          </ngx-skeleton-loader>

        </div>

      </div>

    </ng-container>

    <!-- Products -->

    <ng-container *ngIf="!loading">

      <div
        class="col-md-3 mb-4"
        *ngFor="let product of products">

        <div class="card h-100 shadow product-card">

          <img
            [src]="product.thumbnail"
            class="card-img-top product-img">

          <div class="card-body">

            <h5>{{product.title}}</h5>

            <p class="fw-bold text-success">
              ₹ {{product.price}}
            </p>

            <button
              class="btn btn-primary w-100"
              (click)="details(product.id)">

              View Details

            </button>

          </div>

        </div>

      </div>

    </ng-container>

  </div>

</div>