<div class="login-container">

  <div class="login-card">

    <div class="text-center mb-4">

      <div class="logo-circle">
        <i class="fa-solid fa-store"></i>
      </div>

      <h2>E-Commerce</h2>

      <p>Sign in to continue</p>

    </div>
    <div class="role-switch-container mb-4">

        <label class="form-label fw-bold d-block text-center">

          Login As

        </label>

        <div class="d-flex justify-content-center align-items-center gap-3">

          <span class="role-label" [class.active-role]="!isAdmin">

            User

          </span>

          <div class="form-check form-switch m-0">

            <input class="form-check-input role-switch" type="checkbox" id="roleSwitch" [(ngModel)]="isAdmin"
              [ngModelOptions]="{standalone:true}" (change)="changeRole()">

          </div>

          <span class="role-label" [class.active-role]="isAdmin">

            Admin

          </span>

        </div>

      </div>

    <form [formGroup]="loginForm">

      <!-- Username -->

      <div class="floating-group">

        <input type="text" formControlName="username" placeholder=" " class="form-control">

        <label>
          <i class="fa fa-user"></i>
          Username
        </label>

      </div>

      <!-- Password -->

      <div class="floating-group mb-4">

        <input type="password" formControlName="password" placeholder=" " class="form-control">

        <label>
          <i class="fa fa-lock"></i>
          Password
        </label>

      </div>

      
      <div *ngIf="errorMessage" class="alert alert-danger text-center py-0">

        {{ errorMessage }}

      </div>

      <button type="button" class="btn btn-login" (click)="login()">

        <i class="fa fa-right-to-bracket"></i>
        Login

      </button>

    </form>

  </div>

</div>