.login-container {
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    #4f46e5,
    #7c3aed,
    #ec4899
  );

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-card {

  width: 100%;
  max-width: 450px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow:
    0 8px 32px rgba(0,0,0,.25);
  animation: slideUp .7s ease;
}

.logo-circle {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 35px;
  color: #4f46e5;

  margin-bottom: 15px;

  animation: float 3s infinite ease-in-out;
}

h2 {
  color: #fff;
  font-weight: 700;
}

p {
  color: rgba(255,255,255,.8);
}

.floating-group {

  position: relative;
  margin-bottom: 25px;
}

.floating-group input {

  width: 100%;
  height: 55px;

  background: rgba(255,255,255,.2);

  border: none;

  color: #fff;

  border-radius: 10px;
}

.floating-group input:focus {

  background: rgba(255,255,255,.25);

  box-shadow: none;

  border: 1px solid #fff;
}

.floating-group label {

  position: absolute;

  left: 15px;
  top: 15px;

  color: rgba(255,255,255,.8);

  transition: .3s;

  pointer-events: none;
}

.floating-group input:focus + label,
.floating-group input:not(:placeholder-shown) + label {

  top: -10px;

  left: 12px;

  font-size: 12px;

  padding: 0 6px;

  background: #4f46e5;

  border-radius: 4px;

  color: #fff;
}

.form-select {

  height: 55px;

  border-radius: 10px;
}

.form-label {
  color: #fff;
}

.btn-login {

  width: 100%;
  height: 55px;

  border: none;

  border-radius: 10px;

  background: #fff;

  color: #4f46e5;

  font-weight: 700;

  transition: .3s;
}

.btn-login:hover {

  transform: translateY(-3px);

  box-shadow:
    0 10px 25px rgba(0,0,0,.3);
}

.role-switch-container {
  text-align: center;
}

.role-label {
  font-size: 16px;
  font-weight: 600;
  color: #cbd5e1;
  transition: 0.3s;
}

.active-role {
  color: #ffffff;
  font-size: 18px;
}

.role-switch {
  width: 60px;
  height: 30px;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}
@keyframes slideUp {

  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {

  0%,100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}