/* You can add global styles to this file, and also import other style files */
// @import "bootstrap/scss/bootstrap";
@use "bootstrap/scss/bootstrap";
@use "@fortawesome/fontawesome-free/css/all.min.css";
html,
body {
  height: 100%;
  margin: 0;
}

app-root {
  display: block;
  min-height: 100vh;
}